################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanCode/ConsoleApp1/bin/Debug/net6.0
/CleanCode/.vs/CleanCode
/.vs/CleanCode
/.vs
